<h1 class="text-center" style="margin-top: 24px">About Us</h1>
<p class="text-center" style="margin-top: 12px">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis nisl
  vitae nunc accumsan finibus. Donec rhoncus sem eu arcu lacinia pharetra. Sed
  id ex eget neque iaculis fermentum.
</p>
<p class="text-center">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</p>
<div class="container" style="margin-top: 48px">
  <div class="row">
    <div class="col">
      <img
        src="https://www.w3schools.com/w3css/img_bandmember.jpg"
        alt="Person 1"
      />
    </div>
    <div class="col">
      <img
        src="https://www.w3schools.com/w3css/img_bandmember.jpg"
        alt="Person 2"
      />
    </div>
    <div class="col">
      <img
        src="https://www.w3schools.com/w3css/img_bandmember.jpg"
        alt="Person 3"
      />
    </div>
    <div class="col">
      <img
        src="https://www.w3schools.com/w3css/img_bandmember.jpg"
        alt="Person 4"
      />
    </div>
  </div>
</div>
