<div
  class="modal-list"
  [@stagger]="lengthTodoList"
  [@move]="todo.onAdd ? 'moved' : 'notmoved'"
>
  <h3 appTransformText="uppercase" *appHide="false">
    {{ title }}
  </h3>

  <app-search #searchRef></app-search>
  <div class="list-todo">
    <div>
      <p style="font-weight: 500">
        {{
          listTodo.length > 0
            ? "All tasks "
            : "Congratulation! You have nothing to do"
        }}
      </p>
      <p class="list-clear" (click)="getText()">Get text file</p>
      <p
        class="list-clear"
        *ngIf="searchResult.length > 0"
        (click)="handleClear()"
      >
        Clear search
      </p>
    </div>
    <div class="todo-item" *ngFor="let item of listTodo">
      <app-todo-item
        [name]="item.name"
        [id]="item.id"
        [detail]="item.detail"
        [status]="item.status"
      ></app-todo-item>
    </div>
  </div>
  <div style="margin-top: auto">
    <button (click)="toggleAdd()" class="primary-button" id="create-btn">
      Create new task
    </button>
  </div>
</div>
